<div class="row no-gutters h-100" *ngFor="let blog of selectedBlogs">
  <div class="col">
    <div class="card mb-3" >
      <div class="card-header">
        <div class="row">
          <div class="col-10">
            <h3>{{ blog.Title }}</h3>
          </div>

        </div>
        <div class="row">
          <div class="col">
            December, 2 2019
          </div>
          <div class="col">
            <div class="float-right">
              <button class="badge" *ngFor="let name of blog.Tags" (click)="filterFunc(name);">
                {{name}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <app-blog-post [(blogPost)]="blog" isPreview="true" >
        </app-blog-post>
      </div>
    </div>
  </div>
</div>
