<div class="blog-masthead">
<div class="container blog" id="blogmastcontainer" data-spy="affix">
  <nav class="navbar navbar-expand navbar-light " data-spy="afix">
    <a class="navbar-brand" href="#">HS</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" class="nav-link active" style="color: white">Rolling Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </nav>
</div>


</div>