@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~prismjs/themes/prism-coy.css';
//@import '~prismjs/themes/prism-dark.css';
//@import '~prismjs/themes/prism-funky.css';
//@import '~prismjs/themes/prism-okaidia.css';
//@import '~prismjs/themes/prism-solarizedlight.css';

$background: #32302F;
$hardground: #1d2021;
$foreground: #8f8670;
$color0:      #282828;
$color8:   #928374;
$color1: #cc241d;
$color9: #fb4934;
$color2: #98971a;
$color10: #b8bb26;
$color3: #d79921;

.code-toolbar {
    border-radius: 0%;
}
pre {
    border-radius: 0%;
}

.badge {
    background-color: #428bca;
    color: white;
    font-family: 'Courier New', Courier, monospace !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-family: 'Courier New', Courier, monospace !important;
}

/* Nav links */
.nav-link {
    position: relative;
    padding: 1rem !important;
    font-weight: 500;
    color: #cdddeb;
    font-family: 'Courier New', Courier, monospace !important;
  }

  .nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

nav {
    padding: 0 !important;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
  }

  .blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
            box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  }


#blogmastcontainer{
  max-width: 60 !important;
  margin-left: 2% !important;
}

.preview {
    position: relative;
}
.fadeout {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent 0%, white 80%);
    top: 50%;
    height: 50%;
    width: 100%;
    content: ''; 
}

.card {
    max-height: 50em;
}

.toolbar-item {
    visibility: hidden;
}
